<%-include("partials/header.ejs")%>
<div class="header">
<form action="/backhome" method="POST">
  <button type="submit" class="btn btn-light">Homepage</button>
</form>
<div class="registration_buttons">
  <%if (signed_in){%>
  <form action="/sign-out" method="POST">
  <button type="submit" class="btn btn-light">Sign Out</button>
  </form>
    <%}else{%>
<form action="/login" method="POST">
  <button type="submit" class="btn btn-light">Login</button>
</form>

<form action="/register" method="POST">
  <button type="submit" class="btn btn-light">Register</button>
</form>
<%}%>
</div>
</div>

<h1>NEVER GIVE UP...</h1>
<h2 id="quote_of_the_day"><mark><%=cuotacion_del_dia%> - <%=autor_del_dia%></mark></h2>

<%
let quote_position = 0
let quote_number = identificacion%>
<%
for (const property in cuotaciones) {%>
  <div class="quote_container">
    
    <div class="quote_header">
      <h2><%= cuotaciones[property]%> - <%= autores[property]%></h2>
      <%if (signed_in){%>
      <div class="delete_form">
        <form class="comment_form" action="/comment_form" method="POST">
          <input type="hidden" name="quote_number" value="<%=quote_number[quote_position]%>">
          <input type="hidden" name="delete_post" value="true">
          <button type="submit" id = "delete-button" class="btn btn-danger">DELETE POST</button>
        </form>
      </div>
    </div>
    
    <div class="edit_form">
      <form class="comment_form" action="/comment_form" method="POST">
        <input type="hidden" name="quote_number" value="<%= quote_number[quote_position]%>">
        <input type="text" name="edit" placeholder="Enter new quote">
        <input type="hidden" name="edit_post" value="true">
        <button type="submit" id = "edit-button"class="btn btn-light">EDIT POST</button>
      </form>
    </div>
  </div>
  <%}%>
<%
quote_position += 1
}
%>

<%-include("partials/footer.ejs")%>